* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

/* Header */
#header {
    background-color: #f47a1f;
    max-height: 100px;
    padding: 10px;
    width: 100%;
    z-index: 1;
}

#header .navigation {
    line-height: 70px;
}

#header .navigation a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Lato, sans-serif;
}

#header .logo-navigation {
    width: 15%;
    height: 70px;
    padding: 5px 0;
}

#header .navigation a:hover {
    text-decoration: underline;
}

/* Slider */
#slider {
    position: relative;
    padding-top: 90px;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(https://assets-global.website-files.com/664b56b2652d8d1fd1bc401b/664dc5fdde0d1701793fb291_pexels-rachel-claire-4577179-2.jpg);
    background-position: 0 0, 50% 100%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    height: 100vh;
}

#slider .slider-content {
    position: absolute;
    bottom: 10%;
    left: 13%;
    color: #fff;
    Max-width: 60%;
    animation: modalFadeIn 0.7s ease-in-out;
}

#slider .slider-content h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 1.1em;
    font-family: initial;
}

#slider .slider-firstline p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

/* Contact */

#contact {
    padding: 50px 0;
}

#contact .contact-us-header {
    padding: 40px 0;
    margin-bottom: 20px;

}

#contact .contact-us-header h1 {
    font-size: 60px;
    font-weight: 500;
    font-family: initial;

}

#contact .contact-type {
    gap: 30px
}

#contact .contact-type .card {
    border: none;
    padding: 20px;
    width: calc(100% / 3);
}

#contact .contact-type i {
    font-size: 50px;
}

#contact .contact-type h2 {
    font-size: 30px;
    font-weight: 500;
    font-family: initial;
    margin: 13px 0;
}

#contact .contact-type p {}

/* Booking */
#booking {
    padding: 50px 0 100px 0;
}

#booking .booking-container {
    padding: 0px 12%;
}

#booking .booking-header {
    margin-bottom: 80px;
}


#booking .booking-header h1{
    font-family: initial;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.1em;
}

#booking .for-infor{
    
}

#booking .column {
    width: 50%;
}

#booking .column input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    letter-spacing: 4px;
    font-size: 15px;
    text-transform: uppercase;
}


#booking textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    outline: none;
    letter-spacing: 4px;
    font-size: 15px;
    text-transform: uppercase;
    
}
#booking button {
    padding: 15px 80px;
    background-color: #f47a1f;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13.5px;
    border: 1px solid #f47a1f;
    cursor: pointer;
    transition: all 0.5s ease;
}

#booking button:hover{
    background-color: #fff;
    border: 1px solid #000;
}


/* Footer */
#footer {
    background-color: #222;
}

#footer .footer-logo {
    width: 15%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#footer .date-working {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

#footer .date-working p {
    letter-spacing: 1px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

#footer .footer-link {
    padding-top: 30px;
}

#footer .footer-link a {
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
}

#footer .footer-link a:hover {
    text-decoration: underline;
}

#footer .footer-container .copyright {
    padding-top: 30px;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 !important;
}

#footer .copyright a {
    color: #fff;
    transition: all 0.5s ease;
}

#footer .copyright a:hover {
    color: #ccc;
}


@keyframes modalFadeIn {
    from {
        transform: translateY(200px);
    }
    to {
        transform: translateY(0px);
    }
}