* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Header */
#header {
    background-color: #f47a1f;
    position: fixed;
    max-height: 100px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

#header .navigation {
    line-height: 70px;
}

#header .navigation a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Lato, sans-serif;
}

#header .logo-navigation {
    width: 15%;
    height: 70px;
    padding: 5px 0;
}

#header .navigation a:hover {
    text-decoration: underline;

}

/* Slider */
#slider {
    position: relative;
    padding-top: 90px;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(https://assets-global.website-files.com/664b56b2652d8d1fd1bc401b/664b58999ef6835b33650b87_pexels-rachel-claire-4577397-1.jpg);
    background-position: 0 0, 50% 100%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    height: 100vh;
}

#slider .slider-img img {
    width: 100%;
    
}

#slider .slider-content {
    position: absolute;
    bottom: 10%;
    left: 13%;
    color: #fff;
    Max-width: 60%;
    animation: modalFadeIn 0.7s ease-in-out;
    transform-style: preserve-3d;
}

#slider .slider-firstline {
    text-transform: uppercase;
    font-family: Lato, sans-serif;
}

#slider .slider-content p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px
}

#slider .slider-content h1 {
    font-size: 80px;
    font-weight: 450;
}

#slider .our-menu {
    display: inline-block;
    margin-top: 12px;
    background-color: #f47a1f;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 13px 60px;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

#slider .our-menu:hover {
    background-color: #fff;
    color: #000;
}

/* Content */
#content {
    width: 100%;
}

/* Menu */
#section-one {
    padding: 50px 0 100px 0;
    width: 100%;
}

#section-one .menu {
    margin: 50px 0;
}

#section-one .menu h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 420;
    padding-bottom: 17px;
}

#section-one .menu-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 12%;
    gap: 60px;
}

#section-one .menu-item {
    width: calc(100% / 3 - 40px);
}

#section-one .menu-item .menu-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#section-one .menu-item .menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5s ease;
}

#section-one .menu-item .menu-img img:hover {
    cursor: zoom-in;
    transform: scale(1.2);
}

#section-one .menu-item .menu-infor {
    text-align: center;
    padding: 10px;
}

#section-one .menu-item .menu-infor h1 {
    margin: 7px 0px 12px 0px;
    font-weight: 400;
}

#section-one .menu-item .menu-infor a {
    display: inline-block;
    margin-top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

#section-one .menu-item .menu-infor a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* About */
#section-two {
    padding: 100px 10%;
    width: 100%;
    border-top: 1px solid #ccc;
}

#section-two .section-two-header h1 {
    font-size: 55px;
    font-weight: 400;
    line-height: 1.1rem;
}

#section-two .about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    gap: 60px;
}

#section-two .about-infor {
    width: calc(100% / 2 - 30px);
}

#section-two .about-infor img {
    width: 100%;
}

#section-two .about-text {
    margin: 30px 0px;
}

#section-two .about-text h2 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
}


#section-two .about-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
    color: #2e2e2e;
}

#section-two .about-notice {
    color: #848484;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 23px;
    margin-bottom: 30px;
}

/* Booking */
#section-three {
    background-color: #f4f4f4;
    padding: 100px 15%;
}

#section-three .booking-header h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.1em;
    margin-bottom: 80px;
}

#section-three .form-booking .for-infor {
    display: flex;
    gap: 60px;
}

#section-three .for-infor .column {
    width: calc(100% / 2 - 30px);
}

#section-three .for-infor .column input {
    width: 100%;
    padding: 10px;
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
}

#reversion-error {
    color: #f4f4f4 !important;
    font-size: 13px;
    margin-top: 5px;
}

#section-three .text-error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

#section-three .form-booking textarea {
    width: 100%;
    padding: 40px 0px;
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
}

#section-three .form-booking .send-button {
    text-align: center;
    margin-top: 40px;
}

#section-three .form-booking .send-request {
    padding: 15px 80px;
    background-color: #f47a1f;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13.5px;
    border-radius: 100px;
    border: 1px solid #f47a1f;
    cursor: pointer;
    transition: all 0.5s ease;
}

#section-three .form-booking .send-request:hover {
    background-color: #fff;
    border: 1px solid #000;
}

/* Footer */
#footer {
    background-color: #000;
    padding: 100px 10%;
}

#footer .footer-container {
    padding: 0px 30px;
}

#footer .footer-logo {
    width: 15%;
    margin-left: 50%;
    transform: translateX(-50%);
}


#footer .date-working {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

#footer .date-working p {
    letter-spacing: 1px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

#footer .footer-link {
    text-align: center;
    padding-top: 30px;
}

#footer .footer-link a {
    text-decoration: none;
    color: #fff;
    font-family: Lato, sans-serif;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
}

#footer .footer-link a:hover {
    text-decoration: underline;
}

#footer .footer-container .copyright {
    text-align: center;
    padding-top: 30px;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

#footer .copyright a {
    color: #fff;
    transition: all 0.5s ease;
}

#footer .copyright a:hover {
    color: #ccc;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(200px);
    }
    to {
        transform: translateY(0px);
    }
}